.glow {
    animation: glow 3s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px #303030, 0 0 4px #303030, 0 0 5px #303030, 0 0 6px #303030, 0 0 7px #303030;
    }
    to {
      box-shadow: 0 0 2px #fff, 0 0 3px #000000, 0 0 8px #000000, 0 0 8px #000000, 0 0 6px #000000, 0 0 10px #000000, 0 0 15px #000000;
    }
  }